[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
robotframework = "==6.0.1"
robotframework-requests = "==0.9.4"
robotframework-metrics = "==3.3.3"
arrow = "==1.2.3"

[dev-packages]
black = "==22.10.0"
